In [1]:
# You've since been given access to the company's complete recordset of rides. This contains 
# information about every active driver and historic ride, including details like city, driver 
# count, individual fares, and city type.

# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb

In [2]:
# Your objective is to build a Bubble Plot that showcases the relationship between four key 
# variables:
# 
# Average Fare ($) Per City
# Total Number of Rides Per City
# Total Number of Drivers Per City
# City Type (Urban, Suburban, Rural)

In [3]:
# Import and Read csv file
city_data = "/Users/kh/Desktop/BOOTCAMP/Week5_Matplotlib/Homework/raw_data/city_data.csv"
ride_data = "/Users/kh/Desktop/BOOTCAMP/Week5_Matplotlib/Homework/raw_data/ride_data.csv"


city_data_pd = pd.read_csv(city_data)
ride_data_pd = pd.read_csv(ride_data)

In [4]:
city_data_pd.head()

             city  driver_count   type
0      Kelseyland            63  Urban
1      Nguyenbury             8  Urban
2    East Douglas            12  Urban
3   West Dawnfurt            34  Urban
4  Rodriguezburgh            52  Urban

In [5]:
ride_data_pd.head()

          city                 date   fare        ride_id
0     Sarabury  2016-01-16 13:49:27  38.35  5403689035038
1    South Roy  2016-01-02 18:42:34  17.49  4036272335942
2  Wiseborough  2016-01-21 17:35:29  44.18  3645042422587
3  Spencertown  2016-07-31 14:53:22   6.87  2242596575892
4   Nguyenbury  2016-07-09 04:42:44   6.28  1543057793673

In [6]:
# Average Fare ($) Per City
# item_data = hero.loc[:,["Item ID", "Item Name", "Price"]]
# ride_loc = ride_data_pd.loc[:,["city", "date", "fare"]]
# avg_ride = ride_loc.groupby(["city", "fare"])

avg_ride = ride_data_pd.groupby(["city"]).agg({"fare": ["mean"]})
# ride_data_pd.dtypes
avg_ride.head()

                   fare
                   mean
city
Alvarezhaven  23.928710
Alyssaberg    20.609615
Anitamouth    37.315556
Antoniomouth  23.625000
Aprilchester  21.981579

In [7]:
# THROW AWAY COMMANDS

# ride_loc = ride_data_pd.loc[:,["city", "date", "fare"]]
# ride_loc["fare"] = pd.to_numeric(ride_loc["fare"], downcast= 'integer')
# df.groupby('Company Name').agg({'Amount': ['sum','count']})

# most_pop_item_final["Total Purchase Value"] = pd.to_numeric(most_pop_item_final["Total Purchase Value"])


# total_item_purchase = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
# df.groupby(['name', 'title', 'id'], as_index=False).sum()

In [28]:
# Total Number of Rides Per City
# ride_data_pd["fare"] = pd.to_numeric(ride_data_pd["fare"], downcast='integer')
total_ride = ride_data_pd.groupby(["city"]).agg({"fare": ["sum", "count"], "city": ["count"]})
total_ride.keys()

MultiIndex(levels=[['fare', 'city'], ['count', 'sum']],
           labels=[[0, 0, 1], [1, 0, 0]])

In [29]:
# Total Number of Drivers Per City
# >>> df.agg({'A' : ['sum', 'min'], 'B' : ['min', 'max']})
drivers = city_data_pd.groupby(["city"]).agg({"driver_count": ["sum"]})
drivers.head()

             driver_count
                      sum
city
Alvarezhaven           21
Alyssaberg             67
Anitamouth             16
Antoniomouth           21
Aprilchester           49

In [30]:
# City Type (Urban, Suburban, Rural)
city_type = city_data_pd.groupby(["city", "type"]).agg({"city": ["sum"]})
city_loc = city_type.loc[:,["city", "type"]]
city_loc.keys()

MultiIndex(levels=[['city'], ['sum']],
           labels=[[0], [0]])

In [31]:
# In [4]: frames = [df1, df2, df3]
# In [5]: result = pd.concat(frames)
# pd.merge(df_new, df_n, on='subject_id')
test = pd.concat([avg_ride, total_ride], axis=1)

all_data = pd.merge(test, city_loc, how='outer', on='city')
# all_data = pd.concat([test, city_type], axis=1)
all_data

ValueError: Buffer has wrong number of dimensions (expected 1, got 2)

In [224]:
# avg_ride_df = pd.DataFrame({"Average Fare per City": avg_ride),
#                             "Total Rides per City": (total_ride),
#                             "Number of Drivers": (drivers), 
#                        })
# avg_ride_df